@media print {
	body {
		background: #fff;
		
	}
	.tm-main-content {
		margin: 0;
		border: 5px solid black;
		border-bottom: none;
	}
	.tm-main-content::before {
		content: "1/20/2018";
		font-size: 10px;
		font-weight: bold;
	}
	.tm-main-content.content::before {
		content: "CSS Basic HW";
		font-size: 10px;
		font-weight: bold;
		display: block;
		text-align: center;
	}
	.tm-banner {
		height: 300px;
		width: 100%;
		padding-bottom: 0;
	}
	.pad {
		padding: 10px;
	}
	.tm-section-title {
		color: blue !important;
	}	
	.tm-content-box  {
		display: block;
		margin-bottom: 0;
	}
	.tm-team-description-container {
		max-width: 100%;
	}
	.flex-item img{
		display: block;
		margin: 0 auto;
	}
	.tm-sidebar, .heading, .boxes, .blocks, #ideas, #contact, .img-fluid {
		display: none;
	}
}

#about {
	box-shadow: 0px 7px 7px 7px rgba(0,0,0,0.5);
}
.tm-content-box .gallery-container .box:nth-child(2n + 1):hover{
	background: blue;
}
.tm-content-box .gallery-container .box:nth-child(2n + 1):hover h2{
	color: white;
	font-weight: bold;
}
.gallery-container .box img{
	border-radius: 100%;
}
p:first-letter {
	color: #76cdd7;
	font-size: 30px;
}
.tm-sidebar,  .tm-content-box {
	box-shadow: 0px 1px 5px 5px grey;
}
section:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 150px 0 0;
	border-color: #007bff transparent transparent transparent;
}
h2.tm-section-title {
	color: gainsboro;
	letter-spacing: 5px;
}

h2 + p {
	font-style: italic;
}
.flex-2-col p::first-line {
	color: red;
	margin-left: 20px;
}
.heading a {
	color: inherit;
}
.heading a:visited {
	color: silver; 
}
.heading a:hover {
	color: blue;
	text-decoration-line: underline;
    text-decoration-style: double;
}
.blocks .boxes .box:nth-child(2n + 1){
	background: grey;
}
.tm-nav-item {
	border-bottom: 1px dotted silver;
}
.tm-nav-item:last-child {
	border-bottom:none;
}
.form-group *, .submit-btn {
	color: red;
}
.submit-btn:hover {
	color: white;
	background: blue;
}